<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<title>Controllers</title>
	<link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="main.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand"
			   href="/">Controllers
			</a>
		</div>
		,
	</div>
</nav>

<div class="container main-content" ng-controller="BlogController">
			<div class="form-group">
			<button class="btn btn-primary" ng-click="submitPost()">Post
			</button>
		</div>
  		<table>
	  	<tr ng-if="list.length > 0">
			<td width="200px">Title</td>
			<td width="250px">Content</td>
			<td width="200px">Date</td>
		</tr>	
		<tr ng-repeat="list in list | orderBy:'-createdate' | limitTo:3">
			<td>
				<span>{{ list.title }}</span>
			</td>
			<td>
				<span>{{ list.content | content }} </span>
			</td>
			<td>
				<span>{{ list.createdate | date : "yyyy-MM-dd HH:mm:ss"}}</span>
			</td>
		</tr>
		</table>
	</br>
</br>
	<form>
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" ng-model="title">
		</div>

		<div class="form-group">
			<label for="content">Content</label>
			<textarea rows="5" class="form-control" ng-model="content"></textarea>
		</div>
	</form>
</div>

<script src="../libs/angular/angular.min.js"></script>
<script src="../libs/underscorejs/underscore.min.js"></script>
<script src="main.js"></script>


</body>
</html>
